* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0d07;
}

h3 {
    font-size: 18px;
}

.social-contact a {
    text-decoration: none;
    text-align: justify;
}

.social-contact a:hover {
    color: var(--color-1c1c1b);
}


.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.gap-10 {
    gap: 10px
}

.gap-15 {
    gap: 15px
}

.gap-30 {
    gap: 30px
}

.home-wrapper .avatar {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

/* name */
.typed-animation {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.25rem solid #fff;
    font-size: 2rem;
    font-weight: 700;
    animation: typing 5s steps(40) infinite, blinking 1s infinite;
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    50%,
    90% {
        width: 100%;
    }
}

@keyframes blinking {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

/* name end */
/* Desciption pages */

.desciption-content {
    padding: 10px;
    background-color: green;
    color: var(--color-ededed);
    border-radius: 10px;
}

/* Desciption pages end */

/* Social contact */
.social-contact {
    cursor: pointer;
}

.icon-social .logo-facebook {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: white;
    border-radius: 20%;
}

.icon-social .logo-youtube {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: white;
    border-radius: 20%;
}

.icon-social .logo-toeic {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}

.icon-social .logo-tiktok {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: white;
    border-radius: 20%;
}

/* Social contact End */

/* Count followe animation */
div .count {
    font: 700 14px system-ui;
}

/* Count followe animation end */

/* Information */
.information p {
    background-color: #4285f4;
    padding: 20px;
    border-radius: 10px;
}

/* Information end */

/* result-comments */
.result-comments p {
    background-color: #4285f4;
    padding: 20px;
    border-radius: 10px;
}

/* result-comments end */

/* Document Share */

/* Document Share End */
/* Footer */
.footer-wrapper {
    background-color: #1c1c1b;
    z-index: 100000;
}

.footer-wrapper p {
    text-align: center;
    color: var(--color-ededed);
    font-weight: 500;
    line-height: 30px;
    margin: auto;
}


/* Footer End */